*{
    margin: 0;
    padding: 0;
}
.overflow-hidden{
    overflow: hidden;
}

/* Navigation  */
nav#navigation-menu{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    background-color: rgba(255, 255, 255,0.7);
    z-index: 10;
}

span.nav-menu{
    position: relative;
    display: flex;
    margin: 1rem;
    align-items: center;
    height: 2rem;
    z-index: 2;
    color: rgb(29, 28, 28);
    cursor: pointer;
}
span.nav-menu:first-of-type> img{
    background-color:aliceblue ;
    padding: 0.5rem 1rem;
    border-radius: 12px;
}
span.nav-menu:first-of-type{
   flex-grow: 1;
}
span.nav-menu:first-of-type>h4{
    background-color:aliceblue ;
    padding: 0.5rem 1rem;
    border-radius: 12px;
   
}

span.nav-menu> img{
    margin:0 0.5rem;
    width: 1rem;
    height: 1rem;
}
span.nav-menu::after{
    content: "";
    position: absolute;
    left: 0;
    top: -10%;
    padding: 1.2rem;
    border-radius: 12px;
    background-color: rgba(126, 126, 238,0.2);
    transform: translateX(0%);
    transition:1s ease-in-out ;
    z-index: -1;
}
span.nav-menu:hover:after{
    transform: translateX(100%);
}
/* Hero banner */
header#hero-banner{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../assets/Minang-house.png), lightgray   no-repeat;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 20% ;
    background-attachment: fixed;
    background-size: cover;
    width: 98vw;
    height: 40rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));

    margin: auto;
  
    max-width: 2024px;
    margin: auto;

    border-radius: 12px;
    box-shadow: 1px 1px rgba(0, 0, 0,0.4);
}
header#hero-banner >div{

    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3;

    /* justify-self: ; */
    align-self: end;

   color: white;
    
}
header#hero-banner >div> h2 {

  font-size: 3rem;
    
}
header#hero-banner >div> h4 {
 font-family: Arial, Helvetica, sans-serif;
 line-height: 1.2rem;
}
header#hero-banner >div> h4> span {
    color: rgb(240, 57, 57);
}

/* todo-text */
section#todo-about{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 1rem;
    grid-gap: 1rem;

}
section#todo-about> .todo-text{
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 2rem 0;
    align-self: end;
    padding: 1rem 4rem;

    
}
section#todo-about> .todo-text> h2{
    margin-bottom: 7rem;
}

section#todo-about> .todo-img{
    grid-column-start: 2;
    grid-column-end: 3;
    
    text-align: center;
    overflow: hidden;
    min-width: 10rem;
}
section#todo-about> .todo-img> img{
    margin: auto;
}

.todo-intro{
    line-height: 1.2rem;
    margin-bottom: 5rem;
}
.todo-intro-list> li{
    margin-bottom: 0.5rem;

}
/* todo-cards */
section#todo-cards{
margin: 1rem auto;
width: 95vw;
}

.card-form{
    width: 25rem;
    height: 15rem;
    margin: 1rem;
    padding: 1rem;
    overflow: hidden;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;

    box-shadow: 5px 5px rgba(0, 0, 0,0.5)   ;
    transition:  all 0.5s ease-in-out;
}
.card-form:hover,
.card-form:active{
    transform: translateY(5%);
    transform: scale(99%);
    filter: brightness(130%);
}


.card-form > h2,
.card-form > div
{
    background-color: rgba(123, 120, 120,0.3);
    width: max-content;
    
    padding: 1rem 3rem;
    border-radius: 12px;
}
.card-form > div> h4 {
font-size: 1.8rem;
line-height: 1.9rem;
}
.card-form > img{
    width: 100%;
}

.card-containers{
background-color: #DDDDDD;
padding: 4rem 0 ;
border-radius: 15px;

  

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,20rem);
    
}

.card-component {
    margin-top: 0.5rem;
    justify-self: center;
    width: 18rem;
    border-radius: 12px;
    border: solid 1px rgb(72, 70, 70);
    overflow: hidden;
    position: relative;
    background-color: #ffffff;


}
.card-component > img{
  width: 100%;
  aspect-ratio: 3/3;
  z-index: -1;
}
.card-component > h4,
.card-component > h6,
.card-component > p{
 margin: 0 0.5rem;
}

.card-component > p{
    text-align: end;
    line-height: 1.5rem;
    font-weight: 300;
    color: #7b7878;

}
.card-component > h6{
    font-size: 0.8rem;
    line-height: 1.5rem;
    font-weight: 300;  
}
.card-component > h4{
    position: absolute;
    bottom: 22%;
    left: 10;
    color: white;

    background-color: rgba(123, 120, 120,0.3);
    border-radius: 12px;
    padding: 0.5rem 1rem;
}

.form-todo-maker{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr 150px;
}
.form-todo-maker legend{
margin-left: 2rem;
color: white;
background-color: #7b7878;
padding: 0.1rem 1rem;
border-radius: 12px;
}


.todo-form{
    background-color: #afaeae;
    margin: auto;
    width: 90vw;
    padding: 2rem 0.5rem;
    max-width: 1524px;
    border-radius: 12px;
}
.todo-form::backdrop{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.50) 100%) ;
}
/* Destination Option  */
.destination-radio{
    display: none;
    &:checked + .destination-option> img{
        border: greenyellow solid 1px;
        filter: brightness(90%);
    
    }
}
.destination-option{
    flex-basis: 150px;
    margin: 0.3rem;

}
.destination-option> img{
    border: transparent solid 1px;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out ;
}
.destinations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.destinations-fieldset{
    grid-column-start: 1;
    grid-column-end: 3;
}
.detail-fieldset{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}
.detail-fieldset> label{
    font-size: 1rem;
}
.detail-fieldset >input{
    height: 30px;
    border-radius: 12px;
    padding: 0.3rem;

}
.description-fieldset{
    padding:  0.5rem;
}
.description-fieldset > textarea{
    width: 95%;
    height: 97%;
    resize: none;
    border-radius: 12px;
    padding: 0.3rem;
}
.todo-button{
    padding: 0.5rem ;
    border-radius: 12px;
}
.todo-button:hover,
.todo-button:active{
    transform: translateY(5%);
}