.test {
  border-radius: 50px;
}
.test:hover {
  filter: brightness(90%);
}
.red {
  color: white;
  font-weight: 600;
  border-radius: 12px;
  margin-left: 12px;
  filter: brightness(80%);
  flex-wrap: wrap;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
  padding: 10px;
  height: 300px;
  background-color: #1a0c27;
  box-shadow: 1px 1px 1px;
  justify-content: center;
}
* {
  font-family: sans-serif;
}
h3 {
  font-size: 15px;
  line-height: 18px;
  font-weight: 300;
}
.hi {
  font-size: 30px;
  line-height: 33px;
  font-weight: 300;
  color: #e5e50b;
  text-shadow: solid 1px #e5e50b;
  background-color: #000107;
  display: flex;
  justify-content: space-between;
  border-radius: ;
}
.revou {
  display: inline-block;
  font-weight: 600;
  color: #cee427;
}
