
section#destination-list{
    padding-top: 5rem;
    max-width: 1720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr)) ;
}

.destination-card{
    width: 320px;
    position: relative;
    margin: 1.5rem 1rem;
    padding: 1rem;
    place-self: center;
   > P{
        line-height: 1.5rem;
        margin: 1rem 0 2rem;

        width: 280px;
    }
    >img{
        border-radius: 12px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0,0.5);
    }
    >button{
        position: absolute;
        right: 1rem;
        bottom: 0.2rem;
        padding: 0.5rem 2rem;
        border-radius: 12px;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

    }
    >button:hover{
        background-color: gray;
        border: gray ;
        color: white;
    }
}

@media screen and (min-width:600px) {
    section#destination-list{
        grid-template-columns:repeat(auto-fit,minmax(600px,1fr)) ;
    }
    .destination-card{
        width: 600px;
        height: 300px;
        display: grid;
        grid-template-rows: repeat(2, minmax(300px,1f));
        position: relative;
       > P ,
       >h2{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        >p{
            margin: 3rem 1rem 0 ;
        }
        >h2{
            margin: 0 auto;
        }
    }
}

@media screen and (min-width:1300px) {
    section#destination-list{
        grid-template-columns:repeat(auto-fit,minmax(350px,1fr)) ;
    }
    .destination-card{
        width: 320px;
        height: 600px;
        position: relative;
        margin: 1.5rem 1rem;
        padding: 1rem;
        place-self: center;

        display: grid;
        grid-template-columns: repeat(2, minmax(300px,1f));
        position: relative;
       > P ,
       >h2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        }
        >h2{
            margin-left: 0.5rem;
        }
        >img{
            place-self: center;
        }
    }
}