form#form-card{
    display: grid;
    width: 100%;
    height: 100%;
    /* grid-template-columns: repeat(2,minmax(320px,1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    >fieldset{
        box-sizing: border-box;
        width: 350px;
        padding: 1rem;
        height: 400px;
        >legend{
            margin-left: 2rem;
        }
    }

}
form#form-card>:last-child{
    position: relative;
    grid-column: 2/3;
}
form#form-card>:last-child>img{
    margin:0  10%;
    border-radius: 12px;
}
form#form-card>:last-child>button{
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;

}
form#form-card>:last-child>button:hover{
    background-color: gray;
    color: white;
    border: gray;
}

form#form-card>:first-child{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
form#form-card>:first-child>input{
    padding: 0.5rem 1rem;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    border-radius: 12px;
}
form#form-card>:first-child>textarea {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.2rem;
    width: 90%;
    resize: none;
    overflow-y: scroll;
}
dialog#modal{
    margin: auto;
    max-width: 1000px;
    border-radius: 12px;
    padding: 0.5rem 1rem;
}
dialog#modal::backdrop{
    background-color: rgba(44, 43, 43, 0.6);
}



