section#usage{
    margin:2rem auto;
    max-width: 1720px;
    display: grid;
    /* for responsive towards children  width */
    grid-template-columns:repeat(auto-fit,minmax(350px,1fr)) ;
    row-gap:1.2rem;
}
.usage-card{
    place-self: center;
    width: 300px;
    border: solid 1px gray;
    border-radius: 12px;
    > p{
        margin-top: 0.5rem;
    }
}

@media screen and (min-width:600px) {
    section#usage{
        grid-template-columns:repeat(auto-fit,minmax(600px,1fr)) ;
    }
    .usage-card{
        width: 600px;
        display: flex;
    }
}
@media screen and (min-width:1440px) {
    section#usage{
        grid-template-columns:repeat(auto-fit,minmax(350px,1fr)) ;
    }
    .usage-card{
        width: 350px;
        display: flex;
        flex-direction: column;
    }
}
